### Maven ###
target/**
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/**
mvnw
mvnw.cmd
### Vaadin ###
node_modules/
frontend/generated/
frontend/index.html
vite.generated.ts
*.generated.js
.vite/

### Spring Boot ###
**/application-*.properties
**/application-*.yml
**/application-*.yaml
!**/application.properties
!**/application.yml
!**/application.yaml

### IDEs and editors ###
.idea/
*.iws
*.iml
*.ipr
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### System Files ###
.DS_Store
Thumbs.db
*.log
*.tmp
*.temp

### Package Files ###
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### Java ###
*.class
*.log
hs_err_pid*
replay_pid*

### Node (for Vaadin) ###
npm-debug.log
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.npm
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

### Others ###
HELP.md
.gradle
build/
.gitattributes
